# Python
.venv/
backend/.venv/
__pycache__/
*.pyc

# Flutter
**/.dart_tool/
**/build/
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/.packages

# IDE
.vscode/
.idea/

# Env files
.env
**/.env
